body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    flex-direction: column;
}

#container{
    background-color: #fff;
    text-align: center;
    padding: 20px 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

#containerNumbers{
    background-color: antiquewhite;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Quicksand';
    border-radius: 25px;
    text-align: center;
    line-height: 2;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.hide{
    display: none;
}

#title{
    font-family: 'Quicksand';
    font-size: 32px;
    margin: 0;
}

.ins{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 18px;
}

#userCount{
    background-color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 50px;
}

#submit{
    background-color: transparent;
    font-family: 'Quicksand';
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid skyblue;
    color: skyblue;
    margin-left: 10px;
    cursor: pointer;
    transition: .2s ease-in;
}

#submit:hover{
    color: white;
    background-color: skyblue;
}
